{% extends 'base.html' %}

{% block content %}
<div class="text-center">
    <p>
        {% if request.user.is_authenticated %}
        Hello {{ request.user.username }}
        {% else %}
        Hello anonymous user
        {% endif %}
    </p>

    <a href="/create" class="btn btn-primary">Create a To Do</a>
</div>

<div class="col-4 offset-4">
    {% for todo in todo_list %}
    <div class="card mt-3">
        <div class="card-header">
            <a href="/{{ todo.id }}">
                <p>{{ todo.name }}</p>
            </a>
        </div>
        <div class="card-body">
            <p>Due Date: {{ todo.due_date }}</p>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock content %}