{% extends 'base.html' %}

{% block content %}
<div class="col-4 offset-4">
    <div class="col-4 offset-4">
        <a href="/" class="btn btn-secondary">Home</a>
        <h2>Update a ToDo</h2>
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    </div>
    {% endblock content %}