{% extends 'base.html' %}


{% block content %}
<div class="col-4 offset-4">
    <a href="/" class="btn btn-secondary">Home</a>
    <div class="card mt-3">
        <div class="card-header">
            <a href="/{{ todo.id }}">
                <p>{{ todo.name }}</p>
            </a>
        </div>
        <div class="card-body">
            <p>Due Date: {{ todo.due_date }}</p>
        </div>
        <div class="card-footer">
            <a href="/{{ todo.id }}/update" class="btn btn-secondary">Update</a>
            <a href="/{{ todo.id }}/delete" class="btn btn-secondary">Delete</a>
        </div>
    </div>
</div>
{% endblock content %}